.contact-us-page {
    width: 100%;
    margin-top: 100px;
    text-align: center;
    background-color: #242424;
    color: rgba(255, 255, 255, 0.87);
}

.contact-us-heading {
    text-decoration: underline;
    color: #29B6F6;
    font-size: 40px;
    font-weight: bolder;
}

.contact-us-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-us-left-div {
    width: 30%;
    height: 100%;
    box-sizing: border-box;
    padding: 20px;
    text-align: left;
}

.contact-us-left-div > div > h1, h2 {
    color: #29B6F6;
}

.contact-us-logo {
    width: 100px;
    margin-top: 40px;
}

.contact-us-number, .contact-us-address {
    margin: 15px 0;
}

.contact-us-number > h2, .contact-us-email > h2, .contact-us-address > h1 {
    font-size: 30px;
    font-weight: bolder;
}

.contact-us-right-div {
    width: 30%;
    height: 100%;
}

.contact-us-right-div-heading {
    font-size: 30px;
    font-weight: bolder;
}

.contact-us-span {
    color: #29B6F6;
}

.contact-us-form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
}

.contact-us-form > button {
    margin-top: 20px;
    width: 40%;
    height: 40px;
    border-radius: 5px;
    border: none;
    /* padding-top: 5px; */
    background-color: #29B6F6;
    color: white;
}

.form-inputs {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.form-inputs > input, textarea {
    width: 100%;
    height: 35px;
    padding: 0 10px;
}

.contact-us-button:hover {
    background-color: #0388f4;
    cursor: pointer;
}

@media (max-width: 920px) {
    .contact-us-div {
        flex-direction: column;
        gap: 20px;
        padding: 20px;
    }

    .contact-us-left-div, .contact-us-right-div {
        width: 70%;
        border: 1px solid white;
        border-radius: 10px;
    }

    .contact-us-right-div-heading {
        margin-top: 20px;
    }
}

@media (max-width: 480px) {
    .contact-us-form > button {
        width: 100%;
    }
}